<header>
	<nav class="be-red white large-padding">
		<ul class="row center-xs center-xs middle-xs">
			<li class="col-md">
				<h1 class="no-margin" id="logo">Blog </h1> 
			</li>
			<li class="col-md">
				 <%= link_to "Inicio", root_path %>
			</li>
			<li class="col-md">
				Diseño
			</li>
			<li class="col-md">
				Programación
			</li>
			<li class="col-md">
				Tecnología
			</li class="col-md">
			<% if cliente_signed_in? %>
				<li class="col-md">
					<%= link_to "Cerrar sesión", destroy_cliente_session_path, method: :delete, class:"be-red white"%>
				</li>
			<%else%>
				<li class="col-md">
					<%= link_to "Iniciar sesión", new_cliente_session_path, class:"be-red white"%>
				</li>
				<li class="col-md">
					<%= link_to "Crear cuenta", new_cliente_registration_path, class:"be-red white"%>
				</li>
			<%end%>
		</ul>
	</nav>
</header>  